
.usage-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.export-form {
    width: 90%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.export-form > * {
    margin: 5px;
}